@using System.Text;
@using Sneakers.Auth;
<link rel="stylesheet" href="~/css/site.css" />

@{
    if (Context.Session.GetInt32("LoginedUserProductCount") == null)
    {
        ViewBag.itemCount = 0;
    }
    else
    {
        ViewBag.itemCount = Context.Session.GetInt32("LoginedUserProductCount");
    }

    var user = new JWT().GetCurrentUser(Context.Session.GetString("JwtToken"));
    if (user != null)
    {
        <div class="user">
            <a id="hello" href="/profile">Hello, @user.FirstName</a>
            <a href="/profile" class="account"><img src="/api/images/account.svg" alt=""></a>
            <a asp-controller="Account" asp-action="Logout" class="btn reg logout">Log Out</a>
        </div>
        <div class="cartdiv">
            <a href="/cart"><img class="cart" src="/api/images/cart.svg" /></a>
            <div class="counter">@ViewBag.itemCount</div>
        </div>
    }
    else
    {
        <a class="btn auth" href="/account/login">Log In</a>
        <a class="btn reg" href="/account/register">Register</a>
        <div class="cartdiv">
            <a href="/cart"><img class="cart" src="/api/images/cart.svg" /></a>
            <div class="counter">@ViewBag.itemCount</div>
        </div>
    }
}


