<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:8000/api/images/IMG_8604.PNG" />
</head>

<body>
    <div id="content">
        <header>
            <div class="header-left">
                <img id="logo" src="http://localhost:8000/api/images/sneaker.png" />
                <h1 class="header-title"><a href="/">Sneakers</a></h1>
            </div>
            <div class="header-right">
                <partial name="_auth" />
            </div>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div id="overlay"></div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
