@using Newtonsoft.Json;
@using Sneakers.Models;
@model List<Order>
@{

    ViewData["Title"] = "Orders";
}

<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="~/css/orders.css">

@if (Model != null && Model.Count != 0)
{
    <div class="content">
    <div class="orders-grid">
        @foreach (var order in Model)
            {
                var list = JsonConvert.DeserializeObject<List<Item>>(order.ItemsJson!) ?? new List<Item>();
                <div class="order">
                    <p id="id">Order Id: <span>@order.Id</span></p>
                    <p id="total">Total Price: <span>@order.TotalPrice $</span></p>
                    <p>Items:</p>
                    <div class="items">
                        @foreach (var item in list)
                        {
                            <div class="item">
                                <img class="img" src="/api/images/@item.Image" alt="">
                                <p>@item.Name</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

    </div>
}
else
{
    <div class="no-items">
        <h1 class="text">You have no orders yet</h1>
        <a href="/">Go to the store</a>
    </div>
}
