@model List<Order>
@using Newtonsoft.Json;
@{

    ViewData["Title"] = "Orders";
}

<title>@ViewData["Title"]</title>

@if(Model != null)
{
<div class="content">
    @foreach (var order in Model)
    {
        var list = JsonConvert.DeserializeObject<List<Item>>(order.ItemsJson!) ?? new List<Item>();
        <div class="order">
            <p>@order.Id</p>
            @foreach (var item in list)
            {
                <p>@item.Name</p>
            }
        </div>
    }
</div>
}
else{
    <div class="content">
        <h1>You have no orders yet</h1>
    </div>
}

<style>
    .content{
        margin-top: 10%;
    }
</style>