<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/profile.css">
@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewData["Title"]</h1>

<div style="margin-top: 10%;">
    <button data-modal-target="#modal">Delete Account</button>
</div>


<div class="modal" id="modal">
    <div class="modal-header">
        <div class="title">Delete Account</div>
    </div>
    <div class="modal-text">
        <p>
            Are you sure you want to delete your account?
            This will permanently erase your account.
        </p>
    </div>
    <div class="modal-buttons">
        <span data-close-button class="modal-button cancel">Cancel</span>
        <a asp-action="DeleteAccount" asp-controller="Account" class="modal-button delete">Delete</a>
    </div>
</div>

