@model List<Item>
@{
    ViewData["Title"] = "Home page";
    int count = Model.Count + 4;
}
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="css/home.css" />

<div class="main">
    <div class="sidenav">
        <partial name="_filters" />
    </div>
    <section class="main-content">
        <div class="product-grid">
            @foreach (var item in Model)
            {
                <div class="product">
                    @{
                        string src = $"http://localhost:8000/api/images/{item.Image}";
                        src = src.Replace(' ', '-');
                        item.Name = item.Name?.Replace(' ', '-');
                    }
                    <a href="/@item.Name"><img src="@src" alt="img" /></a>
                    <h3>@item.Name?.Replace('-', ' ')</h3>
                    <p>@item.Price $</p>
                </div>
            }

        </div>
        @if (Model.Count != ViewBag.totalPageCount)
        {
            <a id="load-more" href="/load=@count">Load more</a>
        }
    </section>
</div>
<footer class="footer">
    This is the footer content.
</footer>
<script>
    const loadButton = document.getElementById("load-more");
    if (loadButton !== null) {
        loadButton.addEventListener('click', () => {
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            localStorage.setItem('scrollPosition', scrollTop);
            console.log(scrollTop);
        });
    }
</script>