@model List<Item>
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/home.css" />
</head>

<body>
    <div class="sidenav">
        <partial name="_filters" />
    </div>
    <div class="main-content">
        <div class="product-grid">
            @foreach (var item in Model){
                <div class="product">
                    @{
                        string src = $"http://localhost:8000/api/images/{item.Image}.jpeg";
                        src = src.Replace(' ', '-');
                        item.Name = item.Name?.Replace(' ', '-');
                    }
                    <a href="/@item.Name"><img src="@src" alt="img" /></a>
                    <h3>@item.Name?.Replace('-', ' ')</h3>
                    <p>@item.Price $</p>
                </div>
            }

        </div>
    </div>

</body>

</html>
