@using Sneakers.Models;
@model List<Item>
@{
    ViewData["Title"] = "Home page";
}
<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="~/css/modal.css" />

@if (Model != null)
{
    int count = Model.Count + 4;
    <div class="main">
    <div class="sidenav modal" id="modal">
        <partial name="_filters" />
    </div>
    <section class="main-content">
        <div class="settings">
            <button data-modal-target="#modal" class="open-filters">Open Filters</button>
            <a href="/" class="open-filters">Reset Filters</a>
        </div>
        <div class="product-grid">
            @foreach (var item in Model)
                {
                    <div class="product">
                        @{
                            string src = $"/api/images/{item.Image}";
                            src = src.Replace(' ', '-');
                            item.Name = item.Name?.Replace(' ', '-');
                        }
                        <a href="/@item.Name"><img src="@src" alt="img" /></a>
                        <div class="info">
                            <h3>@item.Name?.Replace('-', ' ')</h3>
                            <p>@item.Price $</p>
                        </div>
                    </div>
                }

            </div>
            @if (Model.Count != ViewBag.totalPageCount)
            {
                <a id="load-more" href="/load=@count">Load more</a>
            }
            else
            {

                <style>
                    .footer {
                        margin-top: 70px;
                    }
                </style>
            }

        </section>
    </div>
}
else
{
    <style>
    .footer {
        position: fixed;
        bottom: 0;
    }

    .pb-3 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
}
<partial name="_footer"/>
<script src="~/js/scroll.js"></script>
