@model List<Item>
@{
    ViewData["Title"] = "Home page";
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/home.css" />
</head>

<body>
    <div class="sidenav">
        <partial name="_filters"/>
    </div>
    <div class="main-content">
        <div class="product-grid">
            @foreach (var item in Model)
            {
                item.Name = item.Name?.Replace(' ', '-');
                <div class="product">
                    <a href="/@item.Name"><img src="@item.Image" alt="img" /></a>
                    @{
                        item.Name = item.Name?.Replace('-', ' ');
                    }
                    <h3>@item.Name</h3>
                    <p>@item.Price $</p>
                </div>
            }
        </div>
    </div>

</body>
</html>
