@using Sneakers.Models;
@model Item;
@{
    ViewData["Title"] = Model?.Name;
    string src = $"/api/images/{Model?.Image}";
    src = src.Replace(" ", "-");
}


<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="css/item.css" />

<div class="container">
    <div class="product-image">
        <img src="@src" />
    </div>
    <div class="product-info">
        <h2 class="product-name">@Model?.Name</h2>
        <div class="price-bestfor">
            <p class="product-price">$@Model?.Price</p>
            <p class="bestfor">Best for: @Model?.BestFor</p>
        </div>
        <div class="product-size">
            <label for="size">Choose size:</label>
            <form method="post" asp-controller="Cart" asp-action="AddToCart">
                <select id="size" class="dropdown" asp-for="Size" asp-items="@ViewBag.sizes"></select>
                <input type="hidden" asp-for="Id" value="@Model?.Id">
                <input type="hidden" asp-for="Name" value="@Model?.Name">
                <input type="hidden" asp-for="Price" value="@Model?.Price">
                <input type="hidden" asp-for="Description" value="@Model?.Id">
                <input type="hidden" asp-for="Id" value="@Model?.Description">
                <input type="hidden" asp-for="Image" value="@Model?.Image">
                <input type="hidden" asp-for="BrandId" value="@Model?.BrandId">
                <p class="product-description">@Model?.Description</p>
                <input type="submit" class="add-to-cart" value="To Cart">
            </form>
        </div>
    </div>
</div>
