@model List<Item>

<head>
    <title>Success</title>
</head>
<div class="success">
    <div class="title">
        <p>
            Your order is successfuly completed! Await our maneger contact you)
        </p>
    </div>
</div>

<div class="items">
    <h2>View Order:</h2>
    @foreach (var item in Model)
    {
        string src = $"http://localhost:8000/api/images/{item.Image}";
        src = src.Replace(' ', '-');
        <div class="product">
            <img src="@src">
            <h3>@item.Name</h3>
            <p>$@item.Price</p>
        </div>
    }
</div>

<style>
    h2 {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .success {
        margin-top: 10%;
        width: 100%;
    }

    .title {
        width: 50%;
        margin: auto;
        background-color: rgb(196, 245, 196);
        border: 2px solid green;
        border-radius: 5px;
        padding: 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title p {
        color: green;
        font-size: 16px;
    }

    .items {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .product {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .product img {
        width: 150px;
    }
    }
</style>