@using Sneakers.Models;
@model List<Item>

<title>Success</title>
<link rel="stylesheet" href="~/css/succes.css">

<div class="success">
    <div class="title">
        <p>
            Your order is successfuly completed! Await our maneger contact you)
        </p>
    </div>
</div>

<div class="items">
    <h2>View Order:</h2>
    @foreach (var item in Model)
    {
        string src = $"/api/images/{item.Image}";
        src = src.Replace(' ', '-');
        <div class="product">
            <img src="@src">
            <h3>@item.Name</h3>
            <p>$@item.Price</p>
        </div>
    }
</div>
