@model List<Item>
<head>
    <title>Success</title>
</head>
<div class="success">
    <div class="title">
        <p>
            Your order is successfuly completed! Await our maneger contact you)
        </p>
    </div>
</div>

<div class="items">
        @foreach (var item in Model)
        {
            <p>@item.Name</p>
        }
</div>

<style>
    .success {
        margin-top: 10%;
        width: 100%;
    }

    .title {
        width: 50%;
        margin: auto;
        background-color: rgb(196, 245, 196);
        border: 2px solid green;
        border-radius: 5px;
        padding: 20px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title p {
        color: green;
        font-size: 16px;
    }
</style>