* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header-right .btn {
	box-sizing: content-box;
}

.container {
	margin-top: 10%;
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left {
	width: 60%;
	padding: 20px;
}

.left h2 {
	text-align: center;
	margin-bottom: 20px;
}

.left form {
	display: flex;
	flex-direction: column;
}

.left label {
	margin-top: 10px;
}

.name-fields {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: row;
}

.name-fields label {
	flex-basis: 120px;
	margin-right: 10px;
}

.name-fields input {
	flex-grow: 1;
}

.name-fields .first-name {
	margin-right: 30px;
}

.left input,
.left select {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.left button {
	background-color: #376581;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

.right {
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.product {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 7px;
}

.product img {
	width: 150px;
}

.subtotal {
	width: 100%;
	background-color: #f2f2f2;
	padding: 20px;
	text-align: right;
}

.subtotal p {
	margin-bottom: 10px;
}

@media screen and (max-width: 666px) {
	.container {
        flex-direction: column;
		margin: 0;
		width: 100%;
		overflow-x: hidden;
		margin-top: 100px;
    }

	.name-fields{
		display: flex;
		flex-direction: column;
		flex-basis: 0;
		margin: 0;
		flex-grow: 0;
		height: 165px;
	}
	.name-fields label{
		margin: 0;
		height: 12;
	}
	.name-fields .first-name{margin-right: 0;}

    .left,
    .right {
        width: 100%;
    }

    .left {
        order: 2;
    }

    .right {
        order: 1;
    }
	.product img {
		width: 120px;
	}
	.product h3{
		font-size: 16px;
	}
	.product p{ 
		font-size: 15px;
	}
}

#submit {
	background-color: #376581;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	transition: 0.4s;
	font-weight: 600;
	font-size: 16px;
}

#submit:hover {
	background-color: #1b4158;
	cursor: pointer;
}