*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header-right .btn{
	box-sizing: content-box;
}

.container {
    margin-top: 10%;
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

 .left {
	width: 60%;
	padding: 20px;
}

.left h2 {
	text-align: center;
	margin-bottom: 20px;
}

.left form {
	display: flex;
	flex-direction: column;
}

.left label {
	margin-top: 10px;
}

.name-fields {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: row;
}

.name-fields label {
	flex-basis: 120px;
	margin-right: 10px;
}

.name-fields input {
	flex-grow: 1;
}

.name-fields .first-name {
  margin-right: 30px;
}

.left input,
.left select {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.left button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
}

 .right {
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

.product {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.product img {
	width: 150px;
}

  .subtotal {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: right;
  }
  
  .subtotal p {
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .left {
      width: 100%;
      padding: 20px;
    }
    
    .right {
      width: 100%;
      padding: 20px;
    }
  }
 .delivery-options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 20px;
}

.delivery-option {
	font-size: 20px;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 7px;
	padding: 10px;
	flex: 1;
}

label:not(.delivery-option) {
	margin-bottom: 10px;
}
.delivery-option ::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 4px solid #ccc;
	border-radius: 50%;
	margin-right: 20px;
	vertical-align: middle;
}

.delivery-option input[type="radio"]:checked + label::before {
	width: 10px;
	height: 10px;
	border: 7px solid #4CAF50;
	border-radius: 50%;
	margin-right: 20px;
	vertical-align: middle;
}

input[type="radio"] {
	display: none;
}
	/*
	.delivery-option:last-child {
		margin-right: 0;
	}

	.delivery-option img {
		height: 50px;
		width: 170px;
		margin-right: 20px;
	}

	.delivery-option input[type="radio"] {
		margin-right: 20px;
	}

	.delivery-option label {
		font-size: 16px;
	}

	.delivery-option span {
		margin-left: 20px;
	}

	/* Align child elements vertically */
	/* .delivery-option * {
		display: flex;
		align-items: center;
	} */ 

	#submit {
		background-color: #4CAF50;
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		margin-top: 20px;
		transition: 0.4s;
	}
	#submit:hover{
		background-color: #1ecd24;
		cursor: pointer;
	}