.container {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .product-image {
    width: 50%;
    margin-right: 20px;
  }
  
  .product-info {
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 2px solid #333333;
    border-radius: 10px;
  }
  
  .product-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-size {
    margin-bottom: 20px;
  }
  
  .product-description {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .add-to-cart {
    padding: 15px 30px;
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .add-to-cart:hover{
    background-color: #1ecd24;
  }

  img {
    width: 100%;
    height: auto;
  }
  
.dropdown {
    appearance: none;
    background-color: #f2f2f2;
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 15px 5px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .dropdown:focus {
    outline: none;
    box-shadow: 0 0 10px #333333;
  }