.main-content {
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    width: 450px;
    padding: 50px;
    box-shadow: 0 4px 16px #c1d6cc;
    border-radius: 6px;
    border: 2px solid #bababa;
    letter-spacing: 1px;
    margin-top: 12%;
}

.label {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
}

.form-group {
    position: relative;
    margin-bottom: 45px;
}

.form-group.-login {
    margin-bottom: 70px;
}

.control-label {
    color: #b2b2b2;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 5px 0 5px 0;
    border: none;
    border-bottom: 2px solid #aeb0b0;
    outline: none;
    background-color: transparent;
    font-size: 17px;
}

.input:focus {
    border-bottom: 2px solid #376581;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #376581;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: 22px;
    text-align: center;
}

.button:focus,
.button:hover {
    background-color: #0a3856;
}

.text-danger {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: red;
}

form .input.input-validation-error {
    border-color: red;
    margin-bottom: 7px;
}

@media screen and (max-width: 666px) {
    .main-content {
        width: 100%;
    }
    form{
        width: 100%;
        border: none;
        box-shadow: none;
        margin: 100px 0 0 0;
    }
}