@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: white;
  color: black;
  display: grid;
  grid-template: auto 1fr auto;
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(215, 215, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-left {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 40px;
}

.header-title a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  margin: 15px 40px 15px 0;
}

.header-button {
  margin-right: 10px;
}

#logo {
  width: 45px;
  height: 45px;
}

.cartdiv .cart {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.cartdiv {
  position: relative;
  display: inline-block;
}

.cartdiv .counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(245, 46, 46);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}


.btn {
  display: block;
  cursor: pointer;
  margin-left: 20px;
  width: 86px;
  height: 40px;
  font-weight: 800;
  border: 2px solid #376581;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background: white;
  color: #376581;
  outline: none;

}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn.reg {
  width: 140px;
  background: #376581;
  color: white;
  text-decoration: none;
}

.btn.reg:hover {
  background: white;
  color: #376581;
}

.btn.auth:hover,
.btn.auth:focus {
  outline: none;
  background: #376581;
  color: white;
}

#hello {
  font-size: 19px;
  text-decoration: none;
  color: black;
  overflow-wrap: break-word;
  margin-right: 40px;
  cursor: pointer;
}

.image {
  width: 400px;
  height: 270px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgb(96, 91, 81);
  color: white;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

#footer .socials a img {
  height: 40px;
  width: 40px;
  margin-right: 30px;
}

#footer .socials {
  margin-bottom: 30px;
  margin-left: 30px;
}


.account {
    visibility: hidden;
}

@media screen and (max-width: 666px) {
  .header-title {
    display: none;
  }

  .btn.reg {
    display: none;
  }

  .cartdiv {
    margin-right: 0;
  }

  .cartdiv .cart {
    width: 30px;
    height: 31px;
    margin-left: 15px;
  }

  .cartdiv .counter {
    width: 15px;
    height: 15px;
  }

  .header-right {
    margin-left: 0;
    margin-right: 30px;
  }

  .header-left {
    margin-left: 30px;
  }

  #hello {
    display: none;
  }

  #logo {
    width: 35px;
    height: 35px;
  }

  .header-right,
  .header-left {
    margin: 15px;
  }

  .user {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

 .account{
  visibility: visible;
  width: 28px;
  height: 28px;
  order: 2;
 }

  .btn.auth {
    display: inline;
    visibility: visible;
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    margin: 0;
    height: auto;
    width: auto;
    color: #376581;
    margin-right: 20px;
  }

  .btn.auth:hover,
  .btn.auth:focus {
    background: none;
    color: #376581;
  }

  header .header-right .user .btn.reg.logout {
    order: 1;
    display: inline;
    visibility: visible;
    padding: 0;
    font-size: 16px;
    background: none;
    border: none;
    margin: 0;
    height: auto;
    width: auto;
    color: #376581;
  }
  #modal .modal-header .title{
    font-size: 25px;
  }
  .modal-header{
    margin-bottom: 20px;
  }
  #modal{
    height: 260px;
  }
}